body{
     background-color: #c4f3d2;

}

.hidden{
    visibility: hidden;
}

h1{
   text-align:center;
   color:rgb(29, 11, 126);
}

.form-control {
    margin-bottom: 15px;
    
}



.error {
    color: red;
}

#userguide {
    float: left;
}
